<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.tseng.studios.tchores">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:allowBackup">
        <activity
            android:name=".EntryChoiceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.EntryChoice" />
        <activity
            android:name=".java.MainActivity"
            android:theme="@style/AppTheme.Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".java.ChoreDetailActivity"
            android:theme="@style/AppTheme.Activity" />
        <activity
            android:name=".kotlin.MainActivity"
            android:theme="@style/AppTheme.Activity" />
        <activity
            android:name=".kotlin.choreDetailActivity"
            android:theme="@style/AppTheme.Activity" />
        <activity android:name=".java.ChoreAddActivity" />
        <activity android:name=".java.ChoreEditActivity" />

        <receiver
            android:name=".java.AfterAlarmBR"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".java.NotificationChoreCompleteBR"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".java.TChoresBootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".java.TChoresService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".java.TChoreHoverMenuService"
            android:enabled="true"
            android:exported="true" />

    </application>

</manifest>